* {
  margin: 0;
  padding: 0;
}
.container {
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 450px;

  gap: 10px;
}
.cell {
  background-color: cadetblue;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  overflow: hidden;
  color: white;
  width: 150px;
  height: 150px;
}
p {
  user-select: none;
}
